@model ApplicationCore.Models.MovieDetialsModel

<section>
	<div class="row" style="background-image: url('http://mediacloud.theweek.com/image/private/s--gdgBalU9--/v1608654335/screen_shot_2020-08-24_at_1.15.08_pm.png');">
        <div class="col - 4">
		<img src="@Model.PosterUrl" class="img-fluid w-50" alt="@Model.Title" style="margin-left:5em;"/>
        </div>

		<div class="col-5">
		    <h3 class="text-white">@Model.Title</h3>
			<p class="text-white">@Model.RunTime min | @Model.ReleaseDate
					@foreach (var genre in Model.Genres)
					{
						<span class="rounded bg-secondary text-white">@genre.Name</span>
					}
			</p>
			@*include Review Table, one movie => multiple reviews, calculate average rating in MovieService*@

			<span class="rounded bg-success text-white text-right">@Model.Ave_rating</span>
			<p class="text-white">@Model.Overview</p>
        </div>
		<div class="col-3">
			@*This will fire another page*@
            @*<a asp-controller="User" asp-action="Review" target="_blank">
				<div><button type="button" class="btn btn-outline-secondary text-white float-right" style="margin-top:2em; margin-left:4em; width:10em;">&rarrhk; Review</button></div>
			</a>
			<a asp-controller="User" asp-action="OrderConfirm" target="_blank">
				<div><button type="button" class="btn btn-white bg-white text-dark float-right" style="margin-top:2em; margin-left:4em; width:10em;">Buy $9.90</button></div>
			</a>*@
			@*using Bootstrap Button Trigger Modal*@
		@*----------------popup button Modal for Review----------------------------*@
<button type="button" class="btn  btn-outline-secondary text-white" data-bs-toggle="modal" data-bs-target="#ReviewModal" style="margin-top:2em; margin-left:4em; width:10em;">&rarrhk; Review</button>
<!-- Modal -->
<div class="modal fade" id="ReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">&raquo; Review Input</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	  @*-------------------*@
         <form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Rating</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
        </form>
@*--------------------------*@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

@*----------------------button Modal for buy----------------------------*@
<button type="button" class="btn  btn-white bg-white text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top:2em; margin-left:4em; width:10em;">Buy $9.90</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">&raquo; Retail Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	  @*---------------*@
	  <p>The Price of <b>@Model.Title</b> is:</p>
	  <p><b>$ @Model.Price</b></p>
      @*----------------*@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

        </div>
    </div>
    @*--------------------------------------------------------------------------*@
	<div class="row" style="margin-top:2em;">
        <div class="col-4">

		<h5>MOVIE FACTS</h5>
		<hr>
		<ul class="list-group list-group-flush">
           
			   <li class="list-group-item">
				   &ccupssm; Release Date<span class="bg-secondary text-white" style="margin-left:1em; border-radius:8px">@Model.ReleaseDate</span>
			   </li>
			    <li class="list-group-item">
				   &rAtail; Run Time<span class="bg-secondary text-white" style="margin-left:1em; border-radius:8px">@Model.RunTime m</span>
			   </li>
			    <li class="list-group-item">
				   &boxbox; Box Office<span class="bg-secondary text-white" style="margin-left:1em;border-radius:8px ">$ @Model.Revenue</span>
			   </li>
			    <li class="list-group-item">
				   &dollar; Budget<span class="bg-secondary text-white" style="margin-left:1em; border-radius:8px">$ @Model.Budget</span>
			   </li>
        </ul>


		<h5 style="margin-top:2em;">TRAILERS</h5>
		<hr>
		<ul class="list-group list-group-flush">
           @foreach (var trailer in Model.Trailers)
		   {
			   <li class="list-group-item">
				   <a href="@trailer.TrailerUrl" target="_blank"> <img style="width:2em;" src="https://e7.pngegg.com/pngimages/437/213/png-clipart-youtube-play-button-computer-icons-now-button-angle-logo.png"> </a>
				   <span style="margin-left:1em; font-size:0.7em">@trailer.Name</span>
			   </li>
		   }
        </ul>
		
        </div>

		<div class="col-8">
		<h5>CAST</h5>
		<hr>
		
		<ul class="list-group list-group-flush">
           @foreach (var cast in Model.Casts)
		   {
			   <a asp-controller="Cast" asp-action="CastDetails" asp-route-idCast="@cast.Id" target="_blank">
				    <li class="list-group-item">
				       <img src="@cast.ProfilePath" class="rounded-circle" style="width:1.5em; position:relative;">
				       <span style="margin-left:3em;">@cast.Name</span>
				       <span style="position:absolute; left:22em;" >@cast.Character</span>
			        </li>
			   </a>
			  
		   }
        </ul>


        </div>

    </div>


</section>










